gsDesignExplorer/Silverlight/gsDesign.Explorer/Service References/RService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4503/?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="SaveScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="script" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccessPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccessPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetClientAccessPolicyResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>